@model IEnumerable<ExcelTranscript.Models.stp_GetUploadedAudioInfo_Result>

@{
    ViewBag.Title = "Assign Typist";
}

<style>
    .disablefocus:focus {
        box-shadow: none !important;
        border-color: #b5b5b5;
    }

    .disablefocus {
        border-color: #b5b5b5;
        font-size: 14px !important;
        height: 31px !important;
    }
</style>
<section class="content">

    <!-- *========== Breadcrumbs ========== -->
    <div>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white px-0 mb-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Typist")">Typist</a></li>                    
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- *========== Data Table ========== -->
    <div class="py-3">
        <div class="container-fluid">
            <!-- *========== Filter ========== -->
            <div class="py-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" method="" class="py-2 px-3 box-shadow box-rounded">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="form-title p-0 mb-1"><i class="fa fa-filter" aria-hidden="true"></i> Filter</h5>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group m-0">
                                            <label class="m-0" for="Clinic">Clinic</label>
                                            @Html.DropDownList("ClinicID", new SelectList(ViewBag.ClinicID, "value", "text"), "Select Clinic", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group m-0">
                                            <label class="m-0" for="Provider">Provider</label>
                                            @if (User.IsInRole("Provider"))
                                            {
                                                @Html.DropDownList("DictatorID", new SelectList(ViewBag.DictatorID, "value", "text"), new { @class = "form-control", @Disabled = "Disabled" })
                                            }
                                            else
                                            {
                                                @Html.DropDownList("DictatorID", new SelectList(ViewBag.DictatorID, "value", "text"), "Select Provider", htmlAttributes: new { @class = "select2 form-control" })
                                            }

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group m-0">
                                            <label class="m-0" for="Typist">Typist</label>
                                            @Html.DropDownList("TypistAssignID", new SelectList(ViewBag.GetTypist, "Value", "Text"), "Select Typist", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group m-0">
                                            <label class="m-0" for="StatusId">Dictation Status</label>
                                            <select id="StatusId" name="StatusId" class="form-control w-100">
                                                <option value="">Select Status</option>
                                                <option value="1">Unassigned</option>
                                                <option value="2">Assigned</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group m-0">
                                            <label class="m-0" for="from">From</label>
                                            <input id="fromDate" type="text" class="form-control disablefocus" name="from">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group m-0">
                                            <label class="m-0" for="to">To</label>
                                            <input id="toDate" type="text" class="form-control disablefocus" name="to">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-2">
                                        <label class="text-white m-0">asdf</label>
                                        <button type="button" class="btn btn-primary btn-block" id="btnSearch">
                                            <i class="fa fa-search"></i>&nbsp;Search
                                        </button>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                            </form>

                            <div id="SearchResult">

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>

@section scripts{
    <script type="text/javascript">


        $(document).ready(() => {

        $("#example").DataTable();
        $("#DictatorID").select2();
        $("#ClinicID").select2();
        $("#StatusId").select2();
        $("#TypistAssignID").select2();

        var date = new Date();
        date.setDate(date.getDate() - 1);

            $("#fromDate").datepicker({
                dateFormat: 'mm/dd/yy'
            });

            $("#toDate").datepicker({
                dateFormat: 'mm/dd/yy'
            });

            $("#fromDate").datepicker('setDate', date);
            $("#toDate").datepicker('setDate', new Date());
            $("#btnSearch").trigger("click");
        });

      function CheckChanged(e) {
          if (e.checked) {
              $(".checkbox").prop('checked', $(e).prop("checked"));
          }
          else {
              $(".checkbox").prop('checked', $(e).prop("checked"));
          }
        };

        function CheckChangedAll(e) {
            if (e.checked) {
                $(".checkbox").prop('checked', $(e).prop("checked"));
            }
            else {
                $(".checkbox").prop('checked', $(e).prop("checked"));
            }

            Tarr = '';


            $('#example > tbody  > tr').each(function (index, row) {
                debugger;
                var assigned = $(row).find("#item_TypistAssignID :selected").text()
                if (assigned == "Select Typist") {

                    if (Tarr) {
                        Tarr += ","
                    }
                    Tarr += $(row).find("#sAudioID").text().trim()

                }

            });


        };


         $("#btnSearch").on("click", function () {
             $('.Loader').show();
            var DictatorID = $('#DictatorID').val();
            var ClinicID = $('#ClinicID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var StatusId = $('#StatusId').val();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center"> @ViewBag.Title </h4>';


             if (fromDate != "" && toDate != "")
            {
                html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>";
            }
             if (fromDate != "" && toDate != "" && (new Date($("#fromDate").val())) != "Invalid Date" && (new Date($("#toDate").val()) != "Invalid Date")) {
                 $.ajax({
                     url: "@Url.Action("SearchTypistList", "UploadFiles")",
                     data: {
                         btn: true,
                         DictatorID: $('#DictatorID').val(),
                         ClinicID: $('#ClinicID').val(),
                         TypistAssignID: $('#TypistAssignID').val(),
                         StatusId: $('#StatusId').val(),
                         fromDate: $('#fromDate').val(),
                         toDate: $('#toDate').val(),
                     },
                     success: function (data) {
                         $("#SearchResult").html(data);
                         $('#example').dataTable({
                             sDom: '<"top" lB> frtip',
                             lengthMenu: [
                                 [10, 25, 50, 100, -1],
                                 [10, 25, 50, 100, 'All'],
                             ],
                             ordering: false,
                             buttons: [
                                 {
                                     extend: 'print',
                                     messageTop: function () {
                                         return '<h3 align="center">@ViewBag.Title</h3>';
                                         //return '<h3 align="center" style="margin-top:208px; margin-bottom:76px;">Products List</h3>';
                                     },
                                     title: '',
                                     messageBottom: 'Powered by H2S Volt',
                                     exportOptions: {
                                         columns: [1, 2, 3, 4, 5, 6, 7]
                                     }
                                 },
                                 {
                                     extend: 'excel',
                                     messageTop: '@ViewBag.Title',
                                     messageBottom: 'Powered by H2S Volt',
                                     exportOptions: {
                                         columns: [1, 2, 3, 4, 5, 6, 7]
                                     }
                                 }
                             ]
                         });
                         $('.Loader').hide();
                     },
                     error: function (xhr, status) {
                         $('.Loader').hide();
                     }
                 });
             }
             else {
                 $('.Loader').hide();
                 swal({
                     title: "Invalid Date",
                     text: "Please select correct date range!",
                     icon: "warning",
                     buttons: false,
                     timer: 2500
                 });
             }
        });

        var arr = [];

        function getIDs(ddID, fileID) {
            if (fileID > 0 && +ddID > 0) {

                var obj = { AudioID: fileID, DDID: +ddID };
                const isExist = obj => obj.AudioID === fileID && obj.DDID === ddID;

                if (arr.some(isExist)) {
                    console.log("exists")
                }
                else {
                    arr.push(obj)
                    console.log("not exists")
                }

            }

        }

        var Tarr = '';
        var FileIDs = [];
        function CheckedTypistIDs(e, fileID) {
            if ($(e).is(":checked")) {
                if (Tarr) {
                    Tarr += ","
                }
                Tarr += fileID;
                console.log(Tarr);
            }
            else {
                if (Tarr.includes(fileID)) {

                    if (Tarr.includes(',')) {
                        FileIDs = Tarr.split(",");

                        var arrindex = FileIDs.indexOf(fileID.toString(), 0);
                        FileIDs.splice(arrindex, 1);
                        Tarr = FileIDs.join();
                    }
                    else {
                        Tarr = '';
                    }

                }
            }
        }


        function assign() {

            arr = Tarr.split(',');

            var TypistID = $('#MultiSelectTypistID').val();
            if (TypistID == "" || TypistID == null) {
                swal({
                    position: 'center',
                    icon: 'warning',
                    title: 'Select Typist!',
                    text: 'Please select a Typist',
                    showConfirmButton: true,
                    timer: 3000
                });
                return;
            } else if (Tarr.length <= 0) {
                swal({
                    position: 'center',
                    icon: 'warning',
                    title: 'Select File(s)!',
                    text: 'Please select file(s) to be assigned.',
                    showConfirmButton: true,
                    timer: 3000
                });
                return;
            }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("TypistRole", "UploadFiles")',
                    data: JSON.stringify({ 'lst': arr, 'TypistID': TypistID }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {

                        if (r > 0) {
                            swal({
                                position: 'center',
                                icon: 'success',
                                title: 'Typist assigned successfully.',
                                showConfirmButton: true,
                                timer: 2500
                            }).then(function () {
                                window.location.reload();
                            });
                        }
                        else {
                            swal({
                                position: 'center',
                                icon: 'error',
                                title: 'Not Assigned',
                                showConfirmButton: true,
                                timer: 2000
                            }).then(function () {
                                window.location.reload();
                            });
                        }

                        //alert(r + " Successfully Assigned");
                    }
                });
        };


        function SingleTypistAssign(e) {
            $('.Loader').show();
            var TypistID = parseInt($(e).parents('tr').find('#item_TypistAssignID').val());
            var AudioID = parseInt($(e).parents('tr').find('#sAudioID').text().trim());
            $(e).parents('tr').css('background-color', '#87CEFA');

            $.ajax({
                type: "POST",
                url: '@Url.Action("AssignRoles", "UploadFiles")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ 'AudioID': AudioID, 'TypistID': TypistID }),
                success: function (r) {
                    $('.Loader').hide();
                    if (r == true) {
                        swal({
                            position: 'center',
                            icon: 'success',
                            title: 'Typist assigned successfully.',
                            showConfirmButton: true,
                            timer: 2000
                        });
                    }
                    else {
                        swal({
                            position: 'center',
                            icon: 'error',
                            title: 'Typist assignment failed!',
                            showConfirmButton: true,
                            timer: 2000
                        }).then(function () {
                            window.location.reload();
                        });
                    }
                },
                error: function (xhr, status) {
                    $('.Loader').hide();
                }
            });
        }

       $("#ClinicID").change(function () {
            var ClinicID = $('#ClinicID').val();
            getProviders(ClinicID);
        });

        function getProviders(ClinicID) {

            if (ClinicID == "") { ClinicID = -1; }
            var json = { "ClinicID": ClinicID };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Dictators/GetProviders',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    console.log(data)
                    GetDropdown("DictatorID", data, true);
                },
                error: function (err) { console.log(err); }
            });
        }


        @*$('#btnSubmit').click(function () {
            console.log("test");
            var FileIDs = [];
            var TypistIDs = [];

            $('#example tbody tr').each(function (i, n) {
                var $row = $(n);

                    FileIDs.push($row.find('input[FileID="FileID"]').val());
                    //TypistIDs.push($row.find('input[TypistId="TypistId"]').val());

                console.log(i);
                console.log(n);
            });

             $.ajax({
                    type: "POST",
                    url: '@Url.Action("TypistRole", "UploadFiles")',
                    contentType: "application/json; charset=utf-8",
                 data: JSON.stringify({ 'FileIDs': FileIDs }),
                    success:
                        function (data) {
                            if (data == true)
                                alert("Downloaded Successfully")
                            else ("Download failed")
                        }
             });
        });*@
    </script>
}
