@model IEnumerable<ExcelTranscript.Models.FaxStatu>

<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-md-12">

                <table id="example" class="table table-striped table-bordered alt-pagination">

               @*<div class="col-md-2 text-center">
                    <button type="button" class="btn btn-primary m-auto" onclick="assign()" id="assignBtn"><i class="fa fa-check-square-o"></i>Print Report</button>
                </div>*@
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">File Name</th>
                            <th scope="col">Extention</th>
                            <th scope="col">Size</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int index = 1;}
                        
                            @foreach (var item in Model)
                            {
                        <tr>
                            <td>
                                @index
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Extension)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Size)
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.UploadOn))
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:hh:mm:ss tt}", item.UploadOn))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                                index++;
                            }
                        
                    </tbody>
                </table>
            </div>
                            }
                            else
                            {
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'no data found!',
                    showConfirmButton: true,
                    timer: 1500
                })
            </script>
                            }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        /*$("#TypistAssignID").select2();*/

        

    </script>
}
